<% if flash[:notice] %>
<div class="container">
	<div class="alert alert-success alert-dismissable">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<%= flash[:notice] %>
	</div>
</div>	
<% end %>
<%= render 'share/articles_index' %>