// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite {
	color: #e74c3c;
	font-weight: bold;
	background-color: rgba(231,76,60,.08);
	border: 2px rgba(231,76,60,.2) solid;
}
